.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    margin-top: 32px;
    margin-left: 80px;
    width: 260px;
  }

.asideImg {
    background-color: linear-gradient(rgb(0, 62, 255), rgb(255, 37, 127), rgb(255, 183, 0));    
}

