//
//  loader
//

// CSS3 Transitions only after  load(.-loading class added to body tag and remove with JS on  load)
.-loading * {
  transition: none !important;
}

// Base
.-loader {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;

  .-loading & {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
