//
// Menu
//

// Aside menu
.aside-menu {
  .menu {
    // Link padding x
    @include menu-link-padding-x(get($aside-config, padding-x));

    // Menu indention
    @include menu-link-indention(get($aside-config, menu-indention), get($aside-config, padding-x));
  }

  // Item
  .menu-item {
    padding: 0;
    a {
      text-decoration: none !important;
      // border-radius: 6px; 
      // margin: 3px 8px;
      color: #666666;
    }
    a:focus {
      text-decoration: none !important;
    }
  
    a:hover#aside-item-title,
    a:active#aside-item-title {
      text-decoration: none !important;
      color: #003eff;
      // background-color: #c1cef7;
    }
    // Menu Link
    .menu-link {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }

    // Icon
    .menu-icon {
      justify-content: flex-start;
    }
    .menu-title#aside-item-title {
      color: #666666;
    }

    // a:active {
    //   text-decoration: none;
    //   background: darkcyan;
    // }
  }
}

// Aside dark theme
.aside-dark {
  .hover-scroll-overlay-y {
    --scrollbar-space: 0.4rem;

    @include scrollbar-color(
      get($aside-config, scrollbar-color),
      get($aside-config, scrollbar-hover-color)
    );
  }

  .menu {
    .menu-item {
      .menu-section {
        color: #4c4e6f !important;
      }

      //$title-color, $icon-color, $bullet-color, $arrow-color, $bg-color
      @include menu-link-default-state(#9899ac, #494b74, #9899ac, #9899ac, null);
      // @include menu-link-hover-state($white, $primary, $primary, $white, #1b1b28);
      
      @include menu-link-hover-state($white, $primary, $primary, $white, #1b1b28);
      @include menu-link-show-state($white, $primary, $primary, $white, #1b1b28);
      @include menu-link-active-state($white, $primary, $primary, $white, #1b1b28);
    }
  }
}

// Aside light theme
.aside-light {
  .menu {
    .menu-title {
      font-weight: 500;
    }
  }
}
